<div class="container">
    <div>
    <h2 style="color: rgb(0, 0, 0);">Modifier une jeu :</h2>
    </div>
    <form >
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label style="color: rgb(0, 0, 0);" >ID Game</label>
    <input type="text" [(ngModel)]="currentGame.idGame"
    name="idGame" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4" >
    <label style="color: rgb(0, 0, 0);" >Nom jeu</label>
    <input type="text"[(ngModel)]= "currentGame.nomGame"
    name="nomGame" class="form-control">
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
    <label  style="color: rgb(0, 0, 0);">Prix jeu</label>
    <input type="number" [(ngModel)]= "currentGame.prixGame"
    name="prixGame" class="form-control">
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
<label  style="color: rgb(0, 0, 0);">Date création</label>
<input type="date" [ngModel]="currentGame.dateCreation | date: 'yyyy-MM-dd'"
(ngModelChange)=" currentGame.dateCreation= $event" name="dateCreation"
class="form-control">
</div>
<div class="mt-2">

<button type="submit" (click)="updategame()" style="background-color: rgb(134, 134, 2);">Modifer</button>

</div>
</form>

</div>