@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@400;600;700&display=swap");
navbar-nav .nav-link {
	padding-left: .5rem;
}
.navbar-nav a {
	color: #E5E5E5;
	transition: all ease 0.2s;
}
.navbar-nav a:hover,
.navbar-nav a:focus,
.navbar-nav a:active,
.navbar-nav a.hilite {
	color: #000000;
	background: #a5a001;
	
}
/* ===== == = === 48em (768px) === = == ===== */
@media only screen and (min-width : 48em) {
	.navbar-nav a:hover,
	.navbar-nav a:focus,
	.navbar-nav a:active,
	.navbar-nav a.hilite {
		transform: translateY(0.2rem) scaleY(1);
	}
	.navbar-nav .nav-link {
		padding-left: 0;
	}
}

.gallery {
	--g: 1px;   /* the gap */
	--s: 1px; /* the size */
	
	display: grid;
	border-radius: 50%;
	background: #7b7819;
  }
  .gallery > img {
	grid-area: 1/1;
	width: 80px;
	aspect-ratio: 1;
	object-fit: cover;
	border-radius: 50%;
	transform: translate(var(--_x,0),var(--_y,0));
	cursor: pointer;
	z-index: 0;
	transition: .3s, z-index 0s .3s;
  }
  .gallery img:hover {
	--_i: 1;
	z-index: 1;
	transition: transform .2s, clip-path .3s .2s, z-index 0s;
  }
  .gallery:hover img {
	transform: translate(0,0);
  }
  .gallery > img:nth-child(1) {
	clip-path: polygon(50% 50%,calc(50%*var(--_i,0)) calc(120%*var(--_i,0)),0 calc(100%*var(--_i,0)),0 0,100% 0,100% calc(100%*var(--_i,0)),calc(100% - 50%*var(--_i,0)) calc(120%*var(--_i,0)));
	--_y: calc(-1*var(--g))
  }
  .gallery > img:nth-child(2) {
	clip-path: polygon(50% 50%,calc(100% - 120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100% - 100%*var(--_i,0)) 0,100% 0,100% 100%,calc(100% - 100%*var(--_i,0)) 100%,calc(100% - 120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
	--_x: var(--g)
  }
  .gallery > img:nth-child(3) {
	clip-path: polygon(50% 50%,calc(100% - 50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)),100% calc(100% - 120%*var(--_i,0)),100% 100%,0 100%,0 calc(100% - 100%*var(--_i,0)),calc(50%*var(--_i,0)) calc(100% - 120%*var(--_i,0)));
	--_y: var(--g)
  }
  .gallery > img:nth-child(4) {
	clip-path: polygon(50% 50%,calc(120%*var(--_i,0)) calc(50%*var(--_i,0)),calc(100%*var(--_i,0)) 0,0 0,0 100%,calc(100%*var(--_i,0)) 100%,calc(120%*var(--_i,0)) calc(100% - 50%*var(--_i,0)));
	--_x: calc(-1*var(--g))
  }
  
 