html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(106, 7, 7, 0);
}

.glow-on-hover1 {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover1:before {
    content: '';
    background: linear-gradient(45deg, #fff700, #ff0000, #ff0000, #ff0000, #f6ff4d, #ff0000, #ff0000, #ff0000, #fff700);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover1:active {
    color: rgb(255, 255, 255)
}

.glow-on-hover1:active:after {
    background: transparent;
}

.glow-on-hover1:hover:before {
    opacity: 1;
}

.glow-on-hover1:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(122, 65, 65);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}



/* glow on hover 2 */


html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: rgba(106, 7, 7, 0);
}

.glow-on-hover2 {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}
.glow-on-hover2:before {
    content: '';
    background: linear-gradient(45deg, #fff700, #2bff00, #2bff00, #2bff00, #f6ff4d, #fff700, #2bff00, #2bff00, #fff700);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover2:active {
    color: rgb(255, 255, 255)
}

.glow-on-hover2:active:after {
    background: transparent;
}

.glow-on-hover2:hover:before {
    opacity: 1;
}

.glow-on-hover2:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(69, 122, 65);
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}
.flat-table {
    display: block;
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 115%;
    overflow: auto;
    width: auto;
}
th {
      background-color: #181813;
      color: rgb(194, 194, 194);
      font-weight: normal;
      padding: 20px 30px;
      text-align: center;
}
td {
      background-color: #eeeeee;
      color: rgb(0, 0, 0);
      padding: 20px 30px;
    }

  



