<div class="container">
    <div>
        <br>
        <br>
        <br>
        
    </div>
    <div class="card shadow mb-4" style="background-color: #eeeeee;border-color: #00000000;"  >
    <div class="flat-table" style="background-color: #00000000;border-color: #00000000;">
    <table class="table table-striped" style="background-color: #ffffff00;border-color: #00000000;border-style: none;">
    <tr> <th>ID</th><th>Nom</th> <th>Prix</th> <th>Date Création</th> <th></th><th></th></tr>
    <tbody *ngFor="let game of games">
    <tr >
    <td>{{game.idGame}}</td>
    <td>{{game.nomGame}}</td>
    <td>{{game.prixGame}}</td>
    <td>{{game.dateCreation | date:'dd/MM/yyyy'}}</td>
    <td><button class="glow-on-hover1" *ngIf="authService.isAdmin()"  (click)="supprimerGame(game)" type="button">Supprimer</button></td>
    <td><button class="glow-on-hover2" *ngIf="authService.isAdmin()"  [routerLink]="['/updateGame',game.idGame] " type="button">Modifier</button></td>
    </tr>
    </tbody>
    </table>
    </div>
    </div>
    </div>